<launch>
	<arg name="enable_octomap" value="true"/>
	<arg name="enable_goto_controller" value="false"/>
	<arg name="move_robot" value="false"/>

	<node pkg="control_turtlebot" type="laserscan_to_pointcloud" name="laserscan_to_pointcloud" respawn="true" output="screen" />
    
	<group if="$(arg enable_octomap)">
    	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args=" " cwd="node" output="screen">
    		<param name="frame_id"            	  value="/odom" />
    		<remap from="/cloud_in" to="/camera/depth/points" /> <!-- simulator -->

		<!--remap from="/cloud_in" to="/pc_from_scan" /--> <!-- simulator -->
    		<param name="resolution"            	  value="0.05" />
    		<param name="latch"            	  value="False" />

    		<!--remap from="/cloud_in" to="/camera/depth_registered/points" /--> <!-- real turtlebot -->
		</node>
    </group>
    
    <group if="$(arg enable_goto_controller)">
    	<node pkg="control_turtlebot" type="controller_turtlebot.py" name="controller_turtlebot" respawn="true" output="screen" />
    </group>

    <group if="$(arg move_robot)">
    	<!--node pkg="control_turtlebot" type="random" name="random" respawn="true" output="screen" /-->
	<!--node pkg="turtlebot_exploration_3d" type="turtlebot_exploration_3d" name="turtlebot_exploration_3d" respawn="true" output="screen" /-->
    <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
    <!--include file="$(find control_turtlebot)/move_base_config/move_base.launch"/-->
    <node pkg="final_project" type="mapping.py" name="mapping" respawn="true" output="screen" />
    <node pkg="final_project" type="control.py" name="control" respawn="true" output="screen" />
    </group>

   
<!-- 
    
    <node pkg="gmapping" type="slam_gmapping" name="gmapping"/>
   
  	<param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="3.2"/>
    <param name="maxRange" value="10.0" />
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.25"/>
    <param name="angularUpdate" value="0.25"/>
    <param name="temporalUpdate" value="10.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="60"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>

  </node>
   -->

</launch>
